---
import type { GetStaticPaths } from "astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import MainLayout from "@layout/MainLayout.astro";
import Title from "@components/shared/Title.astro";

export const getStaticPaths = (async ({ paginate }) => {
	const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
	const { results } = (await resp.json()) as PokemonListResponse;

	return paginate(results, { pageSize: 15 });
}) satisfies GetStaticPaths;

const title = "Static Pokedex | Home";
const { page } = Astro.props;
---

<MainLayout title={title}>
	<Title>
		Listado paginado pokemons 
	</Title>

	<section
		aria-label="Listado de Pokemons"
		class="grid  grid-cols-3 lg:grid-cols-5 gap-4 mt-5"
	>
		{
			page.data.map((pokemon) => (
				<PokemonCard name={pokemon.name} url={pokemon.url} />
			))
		}
	</section>

	<section class="flex justify-between w-[100%] my-4">
		<div>
			<a
				href={page.url.prev}
				class:list={[
					{ btn: page.url.prev },
					{ disable: !page.url.prev },
				]}>Anterior</a
			>
			<a
				href={page.url.next}
				class:list={[
					{ btn: page.url.next },
					{ disable: !page.url.next },
				]}>Siguiente</a
			>
		</div>
		<span>{page.currentPage}</span>
	</section>
	<!-- <ul>
	</ul> -->
</MainLayout>

<style>
	.btn {
		@apply p-2 bg-red-600 text-white;
	}
	.disable {
		@apply p-2 bg-slate-500 text-white opacity-75;
	}
</style>
